/* all section */
*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
/* common class */
.button{
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 6px;
    color: white ;
    background-color:#4CAF4F ;
}
/* Header Section */
/* navigation bar section */
#nav-bar{
    display: flex;
    width: auto;
    padding: 0 10%;
    height: 84px;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F7FA;
}

#nav-logo{
    height: 24px;
    width: 154px;
}

.ul-navbar{
    display: flex;
    list-style: none;
    gap: 50px;
}

.ul-navbar a {
    color: black;
    text-decoration: none;
    font-weight:500;
    font-size: 16px;
    font-weight: 400;
}

 #navbar-logIn-button{
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    font-weight: 500;
    color: #4CAF4F;
    border: none;
    background-color: transparent;
 }
 #navbar-signUp-button{
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 6px;
    color: white ;
    background-color:#4CAF4F ;
 }
 /* hero section */
 .hero-heading{
    color: #4D4D4D;
    font-size: 64px;
    font-weight: 600;
 }
 #hero-pragraph{
    padding: 20px 0px;
 }
 span{
    color:#4CAF4F;
 }
 #hero{
    background-color: #F5F7FA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    padding: 80px 10%;
 }
 /* main section */
 /* client section */
 #client{
    text-align: center;
    background-color: white;
    width: auto;
    padding: 50px 10%;

 }
 #client-heading{
    color: #4D4D4D;
    font-size: 36px;
    font-weight: 600;
    padding: 10px 0px;
 }
#client-allicon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;

}.client-icon{
    height: 40px;
    width: 40px;
}

/* community section */
#community{
    text-align: center;
}

#community-heading{
    color: #4D4D4D;
    font-size: 36px;
    font-weight: 600;
    padding: 10px 0px;
}
.community-card{
    height: 260px;
    width: 299px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    padding: 20px 0;
}
.community-card-heading{
    font-size: 28px;
    font-weight: 700px;
    padding: 20px 0;
    color:  #4D4D4D;
}
.community-card-pragraph{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding:10px ;
}
#community-allcard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    padding: 80px 10%;
}

/* Pixelgrade section */
#pixelgrade{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    padding: 30px 10%;
}

#pixelgrade-text{
    width: 661px;
    height: 268px;
    padding: 20px 10%;
}
#pixelgrade-heading{
    font-size: 36px;
    font-weight: 600;
    
}
#pixelgrade-pragraph{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 20px 0;
}

/*..........................................*/
/* Responsive section */

 