/* all section */

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
/* common class */
.button {
  padding: 10px 20px 10px 20px;
  font-size: 15px;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  color: white;
  background-color: #4caf4f;
}
.button:hover {
  background-color: #2f7332;
}
body ul li a:hover {
  color: #4caf4f;
  text-decoration: underline;
}
span {
  color: #4caf4f;
}
/* Header Section */
/* navigation bar section */
.nav-container {
  display: flex;
  width: auto;
  padding: 0 10%;
  height: 84px;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f7fa;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
}

#nav-logo {
  height: 24px;
  width: 154px;
}

.navbar-link {
  display: flex;
  list-style: none;
  gap: 50px;
}

.navbar-link a {
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  font-weight: 400;
}
.nav-button {
  display: flex;
}

#navbar-logIn-button {
  padding: 10px 20px 10px 20px;
  font-size: 15px;
  font-weight: 500;
  color: #4caf4f;
  border: none;
  background-color: transparent;
}
#navbar-signUp-button {
  padding: 10px 20px 10px 20px;
  font-size: 15px;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  color: white;
  background-color: #4caf4f;
}
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.hamburger span {
  height: 3px;
  width: 30px;
  background: #4caf4f;
  margin: 2px 0;
}
/* hero section */
.hero-heading {
  color: #4d4d4d;
  font-size: 64px;
  font-weight: 600;
}
#hero-pragraph {
  padding: 20px 0px;
}

#hero {
  background-color: #f5f7fa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  padding: 10px 10%;
}
.hero-img img {
  height: auto;
  width: 350px;
}
/* main section start */
/* Our client section */
#client {
  text-align: center;
  background-color: white;
  width: auto;
  padding: 50px 10%;
}
#client-heading {
  color: #4d4d4d;
  font-size: 36px;
  font-weight: 600;
  padding: 10px 0px;
}
#client-allicon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px;
}
.client-icon {
  height: 40px;
  width: 40px;
}
/* community section */
#community {
  text-align: center;
}

#community-heading {
  color: #4d4d4d;
  font-size: 36px;
  font-weight: 600;
  padding: 10px 0px;
}
.community-card {
  height: 260px;
  width: 299px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  padding: 20px 0;
}
.community-card-heading {
  font-size: 28px;
  font-weight: 700px;
  padding: 20px 0;
  color: #4d4d4d;
}
.community-card-pragraph {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 10px;
}
#community-allcard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  padding: 80px 10%;
}
.community-card:hover {
  scale: 1.2;
}

/* Pixelgrade section */
#pixelgrade {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  padding: 20px 10%;
}

#pixelgrade-text {
  width: Auto;
  height: 100%;
  padding: 20px 10%;
}
#pixelgrade-heading {
  font-size: 36px;
  font-weight: 600;
  padding: 20px 0px;
  color: #4d4d4d;
}
#pixelgrade-pragraph {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
#pixelgrade-img {
  height: auto;
  width: 350px;
}
/* Local business section */
#business {
  background-color: #f5f7fa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: auto;
  padding: 50px 10%;
}

.business-component {
  display: flex;
  align-items: center;
  gap: 10px;
}

#business-allcomponent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 40px;
  padding: 0px 10%;
}
#business-heading {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  color: #4d4d4d;
}

/* Design section */
#design {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  padding: 80px 10%;
}

#design-text {
  width: auto;
  height: 268px;
  padding: 20px 10%;
}
#design-heading {
  font-size: 36px;
  font-weight: 600;
  color: #4d4d4d;
  padding: 10px 0px;
}
#design-pragraph {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 10px 0px;
}
.design-img img {
  height: auto;
  width: 350px;
}
/* customer section */
.customer {
  background-color: #f5f7fa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  padding: 10px 10%;
}
#customer-text {
  width: auto;
  height: 100%;
  padding: 20px;
}
#customer-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#customer-pragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #4d4d4d;
}
#customer-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(149, 145, 145);
  margin: 10px 0;
}
.customer-img img {
  height: auto;
  width: 250px;
}

/* Blog section */

.blog-section {
  text-align: center;
  padding: 50px 20px;
}

.blog-section h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  color: #4d4d4d;
  margin-bottom: 15px;
}

.section-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #717171;
  margin-left: auto;
  margin-right: auto;
}

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10%;
}
.card-img {
  height: 286px;
  width: 364px;
  border-radius: 8px;
}
.card-text {
  text-align: center;
  background: #f5f7fa;
  height: 176px;
  width: 317px;
  position: relative;
  left: 25px;
  bottom: 100px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-text h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: #717171;
  padding: 10px;
}
.card-text:hover {
  scale: 1.2;
}

/* Demo Section */
.demo {
  display: grid;
  align-items: center;
  text-align: center;
  background-color: #f5f7fa;
  height: 300px;
  width: auto;
}
.demo h1 {
  font-size: 64px;
  font-weight: 600;
  line-height: 76px;
  color: #263238;
  padding-bottom: 20px;
}
.demo button {
  height: 52px;
  width: 178px;
}
/* Footer section start */
#footer-container {
  height: 328px;
  width: auto;
  background: #263238;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}
.footer-social {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer-social p {
  color: #f5f7fa;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.footer-social-icon {
  display: flex;
  gap: 20px;
}
.footer-info {
  display: flex;
}
.footer-info h3 {
  color: #f5f7fa;
  font-size: 28px;
  font-weight: 600;
  line-height: 80px;
}

.footer-info ul {
  display: grid;
  padding: 0px 50px;
  list-style: none;
}
.footer-info ul li a {
  text-decoration: none;
  color: #f5f7fa;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}
#footer-form input {
  height: 30px;
  width: 255px;
  border-radius: 10px;
  background-color: #abbed166;
  border: none;
  padding: 10px;
}
::placeholder {
  color: #f5f7fa;
}
.footer-social-icon img:hover {
  scale: 1.3;
}

/* Responsive Style */
/* Rwsponsive for common section */
@media screen and (max-width: 1024px) {
  .nav-container,
  #hero,
  #community-allcard,
  #pixelgrade,
  #business,
  #design,
  .customer,
  .card-container,
  .footer,
  .footer-info {
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    text-align: center;
  }
}
/* responsive for nav section */
@media screen and (max-width: 1024px) {
  .navbar-link {
    display: none;
    position: absolute;
    top: 100px;
    right: 0;
    background-color: #4caf4f;
    width: 100%;
    height: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navbar-link.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
  .nav-container {
    flex-direction: column;
    height: 100%;
    width: auto;
    padding: 50px;
  }
  .nav-bar {
    justify-content: space-between;
    padding: 30px 5%;
  }
  /* Hero Section */
  .hero-img img {
    height: auto;
    width: 80%;
    padding: 50px 0px;
  }
  .hero-heading {
    color: #4d4d4d;
    font-size: 48px;
  }
  /* pixelgrade section */
  #pixelgrade-heading {
    font-size: 36px;
  }
  /* customer section */
  .customer {
    background-color: #fff;
    width: auto;
    padding: 120px 5%;
  }
  /* blog section */
  .demo h1 {
    font-size: 40px;
    line-height: 50px;
  }
  /* footer section */
  #footer-container {
    height: 828px;
    width: auto;
    background: #263238;
  }
  .footer {
    display: grid;
    flex-direction: column;
  }
}
